
/*********************************
        REGOLE DI RESET 
**********************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*********************************
        QUERY TABLET 
**********************************/

@media screen and (min-width: 768px){

}

/*********************************
        QUERY LAPTOP 
**********************************/

@media screen and (min-width: 992px){
    
}

/*********************************
        QUERY DESKTOP 
**********************************/

@media screen and (min-width: 1200px){
    
}